#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors/naginata.dtsi>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &ng Q    &ng W    &ng E    &ng R    &ng T
                &ng Y    &ng U    &ng I    &ng O    &ng P
            >;
        };
    };
};
